<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombres:</strong>
    <%= estudiante.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= estudiante.apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estudiante.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.carnet %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= estudiante.fecha_nacimiento %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= estudiante.edad %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= estudiante.celular %>
  </p>

</div>
